// Colors of project

// Brand-colors
$primary-normal: #f3b10c;
$primary-dark: #f89629;
$primary-light: #d8c907;

// Neutral-colors
$black-normal: #0f141f;
$black-dark: #06090f;
$black-light: #151b26;
$black-darken: #242c39;

$white-normal: #e8ebf0;
$white-dark: #d8dbe3;
$white-light: #f7f9fc;

// Gray Scale
$gray-1: #131414;
$gray-2: #2b2b2c;
$gray-3: #424344;
$gray-4: #595a5c;
$gray-5: #717274;
$gray-6: #888a8c;
$gray-7: #9ea0a3;

// Auxiliary colors
$red-normal: #f03d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #0bb07b;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;

.color-white {
  color: $white-normal;
}

.color-primary {
  color: $primary-normal;
}

.color-gradient {
  background: linear-gradient(68.04deg, #f89629 0.59%, #f3b10c 99.35%);
  box-shadow: 0px 4px 25px -10px rgba(0, 0, 0, 0.005);
}

.color-gradient-transparent {
  background: linear-gradient(
    270deg,
    #f3b10c 0%,
    rgba(169, 80, 196, 0) 100%,
    rgba(248, 185, 114, 0) 100%
  );
}

.color-gray {
  color: $gray-5;
}

.color-red {
  color: $red-normal;
}

.color-green {
  color: $green-normal;
}

.color-yellow {
  color: $yellow-normal;
}
